<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/style.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <img class="background" src="{{ url_for('static', filename='/images/Background.jpg')}}" alt="">
   
    <div class="nav"><img src="{{ url_for('static', filename='/images/LW_light.png')}}" alt="">
        <li><a href="#"> Join Us</a></li>
    </div>
  <section class="main">
    <div class="container">
        <img src="{{ url_for('static', filename='images/Image.png')}}" alt="" class="img">

        <div class="content">

            <h1>
                Hello, I am Elvy,
                <br>
                <span>Start Chat </span> 
            </h1>
            <p>
                "This is just our Early Innings, We will race ahead soon
            </p>
           
        </div>
    </div>

   <div class="chat">
    <form>
        <div id="chatbox">
            <div class="col-md-8 ml-auto mr-auto">
                <p class="botText"><span>Hi! I'm ELVY Reciption BOT.</span></p>
            </div>
            <div id="userInput" class="row">
                <div class="col-md-10">
                    <input id="text" type="text" name="msg" placeholder="Type your question" class="form-control">
                    <button type="submit" id="send" class="btn btn-warning"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </form>
   </div>

  </section>
</div>
</div>

<script src="{{ url_for('static', filename='/scripts/scripts.js')}}">

</script>
<script src="https://kit.fontawesome.com/e19484dcd7.js" crossorigin="anonymous"></script>
</body>

</html>