<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- =========================== tittle =========================== -->
   <title>LiveWires_</title>
   <!-- =========================== Icon =========================== -->
   <link rel="icon" type="image/x-icon" href="favicon.png">
   <!-- =========================== css =========================== -->
   <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">
<!-- =========================== Icon =========================== -->
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/e19484dcd7.js" crossorigin="anonymous"></script>
</head>

<body>
   <img class ="bg" src="{{ url_for('static',filename='images/space.avif') }}" alt="">
   <nav class="navbar">
      <ul>
         <li class="nav active"> 
            <a href="#"><i class="fa-solid fa-house"></i><br></a>
         </li>
         <li class="nav">
            <a href="#"><i class="fa-solid fa-calendar-days"></i></a>
         </li>
         <li class="nav">
            
            <a href="#"><i class="fa-solid fa-handshake-angle"></i></a>
         </li>
         <li class="nav">
            
            <a href="#"><i class="fa-solid fa-address-card"></i></a>
         </li>
         <li class="nav">
            
            <a href="#"><i class="fa-solid fa-paper-plane"></i></a>
         </li>
         <button class="join_btn">
            Join Team
         </button>
      </ul>
   </nav>
   <!-- ======================== Home Section ================== -->
      <section class="home">
         <div class="profile-bar">
            <img class="Logo" src="{{ url_for('static',filename='images/LW_light.png') }}" alt="">
            <div class="profile">
               <!-- <a href="#"><i class="fa-solid fa-user"></i></a> -->
               <button class="signup_btn"><a href="">Sign Up</a></button>
            </div>
         </div>
         <div class="home_content">
            <div class="home_text">
               <h1>Explore The Art Of <br> <span class="cali">{</span>Code_..<span class="cali">}</span> With Our Team  </h1>
               <h3>We <span class="auto-input"></span></h3>
      
               <p>
                  "This is just our Early Innings, We will race ahead soon!”
               </p>
   
               <button class="start_btn">
                  <a href="#">Get Started <i class="fa-solid fa-arrow-right"></i></a>
               </button>
            </div>
            <div>
               <img class="home_image" src="{{ url_for('static',filename='images/Elvy.png') }}" alt="">
            </div>
         </div>
         <div class="main">
            <a href="/bot">ELVY <br><i class="fa-solid fa-arrow-down"></i></a>
            <svg id="rotatingText" viewBox="0 0 200 200" width="200" height="200">
              <defs>
                <path id="circle" d="M 100, 100
                        m -75, 0
                        a 75, 75 0 1, 0 150, 0
                        a 75, 75 0 1, 0 -150, 0
                        ">
                </path>
              </defs>
              <text width="800">
                <textPath alignment-baseline="top" xlink:href="#circle" class="text">
                  Chat with our Elvy, To Know More
                </textPath>
              </text>
            </svg>
          </div>
      </section>
         <!-- ======================== Events Section ================== -->
      <section class="events">

         <!-- <h1>Events</h1> -->

         
      </section>
            <!-- ======================== Sponsors Section ================== -->
      <section class="sponsors">
         
         
      </section>
         <!-- ======================== About-us Section ================== -->
      <section class="about">
         
      </section>
            <!-- ======================== Contact-us Section ================== -->
      <section class="contact">
         
      </section>
   
</body>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
  let typed = new Typed(".auto-input", {
    strings: ["Intent . Invent . Inspire"],
    typeSpeed: 100,
    backSpeed: 100,
    loop: true
  })
</script>


</html>